<!-- $Id: index.html,v 1.10 2004/11/24 16:34:03 kbarker Exp $ -->

<html>
<head>

<title>Calo Ontologies</title>

<style type="text/css">
  @import "ontologies.css";
</style>

</head>

<body>

<p>
<h1>Calo Ontologies</h1>
</p>

<p>
<div class="headline">Index</div>
</p>

<p>
<table><tr><td>
<div class="boxtop">Description</div>
<div class="boxbody">This is the list of ontologies currently available for Calo.
Ontologies are implemented in KM and available through the 
<a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree><b>browsable Component Library</b></a>
or the 
<a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/download-clib.html><b>downloadable
Component Library</b></a>. The documentation pages below are also included in the 
downloadable CLib.</div>
</td></tr></table>
</p>


<p>
<table><tr><td>
<div class="boxtop">Ontologies</div>
<div class="boxbody">
<ul>
<li><a href=Calendar-onto.html><b>Calendar Ontology</b></a>
<li><a href=Computer-onto.html><b>Computer Ontology</b></a>
<li><a href=Time-onto.html><b>Time Ontology</b></a>
<li><a href=Contact-onto.html><b>Contact Ontology</b></a>
<li><a href=Chat-onto.html><b>Chat Ontology</b></a>
<li><a href=EMail-onto.html><b>EMail Ontology</b></a>
<li><a href=Filebrowser-onto.html><b>Filebrowser ontology</b></a>
<li><a href=Provenance-onto.html><b>Provenance ontology</b></a>
<br>
<br>
<li><a href=Person-onto.html><b>Person Ontology</b></a> (under construction)
<li><a href=Project-onto.html><b>Project Ontology</b></a> (under construction)
</ul>
</div>
</td></tr></table>
</p>



<table width="100%" bgcolor=#DEE7EC cellspacing=0>
<tr><td align=center style="border-left-width:0; border-right-width:0"><font color=#436976 size=-1><a href="./">Return to Calo Ontologies Page</a></font></td></tr>
</table><p>


</basefont>

</body>
</html>
