/* style sheet for Calo ontologies */

 
body { font: 75% Verdana, Helvetica, Arial, sans-serif;
       background: White;
       color: Black;
       margin: 0;
       padding: 0;
}

b { font-weight: bold;
/*    color: #436976; */
}

table {
    font-size: 100%;
    border-collapse: collapse;
}

td {
    border-style: solid; 
    border-color: white; 
    border-width: 2px; 
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #436976;
    background-color: transparent;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0.5em 0em 1em 10px;
    text-align: justify;
    line-height: 1.5em;
}

hr {
    clear: both;
    height: 1px;
    color: #8CACBB;
    background-color: transparent;
}


h1, h2, h3, h4, h5, h6 {
    color: Black;
    clear: left;
    font: 100% Verdana, Helvetica, Arial, sans-serif;
/*    border-bottom: 1px solid #8CACBB; */
}

h1 {
    color: #436976;
    font-size: 200%;
    margin: 30px 0px 30px 10px;
}

h2 {
    font-size: 150%;
    font-weight: bold;
}

h3 {
    font-size: 100%;
    font-weight: bold;
    margin: 0;
}

h4 {
    font-size: 100%;
}

h5 {
    font-size: 100%;
}

h6 {
    font-size: 80%;
}

ul { 
    list-style: image;
    list-style-image: url(sub.gif);
    margin: 0em 0em 0em 2em;
    padding:0;
}

ol {
    line-height: 1.5em;
    margin: 0.5em 0 0 2em;
    padding:0;
}

li {
    margin: 0.2em 0em 0em 0em;
}

dl {
}

dt {
    font-weight: bold;    
}

dd {
    line-height: 1.5em;
    margin-bottom: 1em;
}

pre {
    padding: 0;
    margin: 0;
    background-color: #dee7ec;
}

div.headline {
    background: #DEE7EC;
    border: 1px solid #8CACBB;
    border-style: solid none solid none;
    color: #436976;
    font-size: 150%;
    padding: 3px 10px 3px 10px;
}
    
div.boxtop {
    background: #DEE7EC;
    border: 1px solid #8CACBB;
    border-style: solid solid none solid;
    color: #436976;
    display: inline;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
}

div.boxbody {
    border: 1px solid #8CACBB;
    border-collapse: collapse;
    padding: 10px 10px 10px 10px;
}

div.boxbody2 {
    border: 1px solid #8CACBB;
    border-style: none solid solid solid;
    border-collapse: collapse;
    padding: 10px 10px 10px 10px;
}

